body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #3333334d;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #4eb151;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.card {
  background: linear-gradient(180deg, #80bfff, #ffc34d);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #00000080;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 1px 0;
}

.cityDisplay, .tempDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000000bf;
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.weatherEmoji {
  margin: 0;
  font-size: 7.5rem;
}

.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000bf;
}